{% extends 'base.html.twig' %}

{% block title %}Dépenses entre amis{% endblock %}

{% block body %}
    {% set total = 0 %}
    {% set moyenne = 0 %}
    {% set personne = 0 %}
    {% for p in personnes %}
        {% set total = total + p.depense %}
        {% set personne = personne + 1 %}
    {% endfor %}
    {% set moyenne=total/personne %}
    <h1>Liste des personnes</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Depense</th>
            <th>Les transactions à effectuer</th>
            <th>Actions</th>
        </tr>

        {% for p in personnes %}
            {% set transaction = p.depense - moyenne %}
            <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.depense }}</td>
                <td>{{ transaction }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="">Voir en détails</a>
                    <a class="btn btn-sm btn-primary" href="{{ path("personnes_modifier",{"id":p.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path("personnes_supprimer",{"id":p.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <div>{{ total }}</div>
    <a class="btn btn-sm btn-primary" href="{{ path("personnes_ajouter")}}">Ajouter une personne <i class="fas fa-plus-circle"></i></a>
{% endblock %}