{% extends 'base.html.twig' %}

{% block title %}Dépenses entre amis{% endblock %}

{% block body %}
    <h1>Liste des personnes</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Depense</th>
            <th>Ce qu'il doit rembourser</th>
            <th>Ce qu'il doit recevoir</th>
            <th>Actions</th>
        </tr>

        {% for p in personnes %}
            <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.depense }}</td>
                <td>{{ p.dette }}</td>
                <td>{{ p.recu }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="">Voir en détails</a>
                    <a class="btn btn-sm btn-primary" href="{{ path("personnes_modifier",{"id":p.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path("personnes_supprimer",{"id":p.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-sm btn-primary" href="{{ path("personnes_ajouter")}}">Ajouter une personne <i class="fas fa-plus-circle"></i></a>
{% endblock %}